<configuration scan="true" scanPeriod="30 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>date=%date level=%level thread=%thread ns=%logger message=%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.zaxxer.hikari" level="error" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
